.featured-content-block {
    .books {
        .book-cover {
            @include media($tablet-portrait) {
                width: 18%; 
            } // $tablet-portrait
        } // .book-cover 

        .book-cover + .book-meta {
            @include media($tablet-portrait) {
                width: 75%; 
            } // $tablet-portrait
        }

        .book-link {
            margin-top: .2rem;
            margin-bottom: 1rem;
        }
    } // .books

    .accent {
        margin-top: 1rem;

        @include media($tablet-portrait) {
            margin-top: 0;
        }

    } // .accent

    .right-third {
        .external-article:first-of-type {
            margin-bottom: 1rem;
        }
    }

    .external-article {
        border-bottom: 1px dotted $color-mineshaft;

        &:last-of-type {
            border-bottom: 0;
        }

        .external-article-title {
            margin-top: 1rem;
            font-size: 1.2rem;

            @include media($tablet-portrait) {
                margin-top: 0;
            }

            a:link.external-article-link {
                color: $color-brown;
                text-decoration: underline;
                font-weight: 500;

                &:visited {
                    color: $color-brown;
                }

                &:hover,
                &:active {
                    color: $color-teal;
                }
            }
        } // .external-article-title
    } // .external-article
} // .featured-content-block
