//--------------------------------------------------------------
// Gutenberg Backend Overrides
//--------------------------------------------------------------
.content-block {

	.button {

		&:hover,
		&:active,
		&:focus {
			background: $color-background-button;
		}
	}

	&.background-mint {
		a:link, a:visited {
			color: $color-orange;

			&:hover, &:active {
				color: $color-teal;
			}
		}
	}

	.card {
		background: unset;
		border: none;
		box-shadow: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: inherit;
	}

	&.alignfull {
		left: unset;
		margin: 0;
		right: unset;
		width: 100%;
	}
} //.content-block
