.image-and-quote-block {
    .accent {
        border-bottom: 0;
        font-size: 1.5rem;
    }

    .right-third {
        margin-top: 2rem;

        @include media($tablet-landscape) {
            margin-top: 0;
            margin-left: 2rem;
        }
    }

    blockquote.is-style-large {
        p {
            border-top: 1px dotted $color-mineshaft;
            border-bottom: 1px dotted $color-mineshaft;

            &::before,
            &::after {
                position: relative;
                display: block;
                content: "''";
                background: #c5d6d5;
                font-size: 44px; 
                font-family: $font-accent;
                font-weight: bold;
                line-height: 32px;
                letter-spacing: 1px;
                width: min-content;
            } // before and after

            &::before {
                margin-top: -10px;
                margin-left: auto;
                margin-right: auto; 
                padding-right: 11px;
            }

            &::after {
                margin-bottom: -24px;
                margin-left: auto;
                margin-right: auto;
                padding-right: 11px;
            }
        } // p
    } // .blockquote.is-style-large
} // .image-and-quote-block