.recent-content-block {
    .appearance-title {
        margin-bottom: 0;
    } // .appearance-title

    a:link.external-article-link,
    .external-article-link {
        text-decoration: underline;
        color: $color-brown;
        transition: $transition-color;

        &:hover,
        &:visited:hover {
            text-decoration: underline;
            color: $color-teal;
            transition: $transition-color;
        }

        .external-article-title.recent-content-block, 
        .appearance-title.recent-content-block {
            font-size: 1rem;
            line-height: 1.2;
            color: $color-brown;
            text-decoration: underline;
            transition: $transition-color;

            &:hover {
                text-decoration: underline;
                color: $color-teal;
                transition: $transition-color;
            }
        }
    }

    .appearances {
        padding: 0 0 1rem;
    }
    
    .third {
        .external-article.opinion,
        .external-article.academic-writing,
        .appearances.appearance {
            border-bottom: 1px dotted $color-brown;
            margin-bottom: 1rem;

            .appearance-date {
                margin: 0;
                padding: 0;
                border: none;
            }

            &:last-of-type {
                border-bottom: 0;
            }
        }
    }
} // .recent-content-block 
