//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	flex: 0 0 100%;
	width: 100%;

	a:link,
	a:visited {
		color: $color-orange;
		transition: $transition-all;

		&:hover {
			color: $color-brown;
			transition: $transition-all;
		}
	}

	.footer-widgets {
		padding: 1rem 0;
		background-color: $color-mint;
		overflow: auto;

		.widget-title {
			font-family: $font-accent;
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 1px;
		} // .widget-title

		.container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@include media($tablet-portrait) {
				flex-direction: row;
			}
		} // .container

		.footer-left,
		.footer-right {
			width: 100%;

			@include media($tablet-portrait) {
				width: 49%;
			}
		}
	} // .footer-widgets

	.site-info {
		padding: 1rem 0;
		text-align: left;
		background-color: $color-white;
		text-transform: uppercase;
		font-family: $font-accent;
	} // .site-info
} // .site-footer
