//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------
.site-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	background-color: $color-white;
	position: fixed;
	z-index: 99999;
	padding: 1rem 0;

	@include media($desktop) {
		padding: 0.6rem 0;
	}

	> .container {
		width: $max-width;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0;

		@include media($tablet-portrait) {
			padding: inherit;
			width: $max-width-tablet;
		}

		@include media($desktop) {
			padding: inherit;
			width: $max-width-tablet;
		}
	}

	.header-left {
		width: 100%;

		@include media($desktop) {
			width: 30%;
			padding: 0;
		}
	}
	
	// Site logo.
	.site-branding {
		font-family: $font-accent;
		
		@include media($tablet-portrait) {}

		@include media($tablet-landscape) {}

		// Don't let the logo get out of control.
		img {
			@include media($tablet-portrait, $tablet-landscape) {
				width: 50%;
			}
		} // img
	} // .site-branding

	//-----------------------------------------
	// Site Title.
	//-----------------------------------------
	.site-title {
		font-size: rem(18);
		text-transform: uppercase;
		font-weight: 100;

		@include media($tablet-landscape) {
			font-size: rem(32);
		}
		
		a, 
		a:link,
		a:hover,
		a:active,
		a:visited {
			text-decoration: none;
			color: $color-mineshaft; 
		}

		// Align next to the logo on mid-size screens.
		@include media($tablet-portrait, $tablet-landscape) {
			@include margin(0);
		}
	} // .site-title

	//-----------------------------------------
	// Site Description.
	//-----------------------------------------
	.site-description {
		@include margin(0 0 $space 0);

		font-size: $space;

		@include media($tablet-portrait, $tablet-landscape) {
			clear: both;
		}
	} // .site-description

	//-----------------------------------------
	// Header action container — Form Dropdown.
	//-----------------------------------------
	.site-header-action {
		display: none;

		@include media($desktop) {
			display: inline;
			flex: 1 0 auto;
			text-align: right;
			width: auto;
		}

		// Span the button the full width.
		.button-link,
		.cta-button {
			color: $color-cta-link;
			text-align: center;
			text-decoration: none;
			background-color: $color-teal;
			height: min-content;
		} // .button-link, .cta-button

		//-----------------------------------------
		// Site header Action Searchform.
		//-----------------------------------------
		.form-container {
			max-height: 0;
			overflow: hidden;
			transition: $transition-height;

			.search-form {
				display: none;
			} // .search-form

			// If the body class is there, show the form.
			.search-form-visible & {
				display: block;
				max-height: rem(150);

				.search-form {
					display: flex;

					label {
						display: flex;
						flex-grow: 1;

						.search-field {
							padding: .6rem;
							line-height: 1;
							border: none;
							background-color: $color-light-mint;
							color: $color-teal;
						} // .search-field
					} // label

					.button-search {
						background-color: $color-white;
						color: $color-teal;
						height: min-content;
						outline: 1px solid $color-mint;
						outline-offset: -1px;
					} // .button-search
				} // .search-form
			} // .search-form-visible &
		} // .form-container
	} // .site-header-action

	//-----------------------------------------
	// Main Navigation Container.
	//-----------------------------------------
	.main-navigation {
	} // .main-navigation
} // .site-header

.site-title-bold {
	font-weight: 900;
}

.site-title-light {
	font-weight: 500;
}

.search-form-visible {
	.main-navigation {
		display: none;
	} // .main-navigation

	.site-header-action {
		display: flex;

		.form-container {
			flex: 1 0 auto;
		} // .form-container
	} // .site-header-action
} // .search-form-visible
