//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

//-----------------------------------------
// Full-width Helper
//-----------------------------------------
.site-main {
	margin: 1.5rem auto 2.5rem auto;

	@include media($tablet-portrait) {
		width: 75%;
	}

	.home & {
		@include media($tablet-portrait) {
			width: 100%;
		}
	}

	.post-type-archive-external_articles &,
	.page-popular-writing & {
		margin: 1.5rem auto 2.5rem auto;
		width: 100%;
	}

	&.acf-content-blocks {
		@include margin(0 null);
	} // &.acf-content-blocks

	// Styles internal elements to max-width unless it's full-width.
	> *:not(.full-width) {
		// @include margin($gutter * 2 auto);

		max-width: 100%;

		&.container-width {
			@include margin(0 auto);
		} // &.container-width
	} // > *:not(.full-width)

	// Post elements.
	.hentry {
		@include margin(0 auto $space * 2);

		&:last-of-type {
			margin-bottom: 0;
		} // &:last-child
	} // .hentry

	// Full-screen elements. Ignores sidebar issues.
	.full-width:not(.content-block) {
		@include full-width;
	} // .full-width
} // .site-main

//-----------------------------------------
// Search Results Page
//-----------------------------------------
.search-no-results {
	.site-main {
		margin-right: auto;
		margin-left: auto;
		max-width: 90%;
	}
}

//-----------------------------------------
// Bound Container at $container width
//-----------------------------------------
.container {
	@include margin(null auto);

	max-width: $max-width;
	position: relative;

	@include media($container-offset) {
		@include padding(0);
	}

	@include media($tablet-portrait) {
		max-width: $max-width-tablet;
	}

	@include media($desktop) {
		max-width: $max-width-desktop;
	}
} // .container

// Adjusts padding for non-full-width content blocks with backgrounds.
.content-block.has-background {
	.container {
		@include media($container-offset) {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}

//-----------------------------------------
// Site Layout Wrapper and Grid Elements
// and Grid Layout Wrapper
//-----------------------------------------
.site-wrapper,
.display-flex {
	display: flex;
	flex: 0 0 100%;
	flex-flow: row wrap;
	width: 100%; // For IE11.

	//-----------------------------------------
	// Justification
	//-----------------------------------------
	&.justify-center {
		justify-content: center; // Allows center elements without margin: 0 auto;
	} // &.justify-center

	&.space-between {
		justify-content: space-between; // Allows space-between elements.
	} // &.space-between

	//-----------------------------------------
	// Alignments
	//-----------------------------------------
	&.flex-start {
		align-items: flex-start;
	} // &.flex-start

	&.align-center {
		align-items: center;
	} // &.align-center

	//-----------------------------------------
	// Grid Elements
	//-----------------------------------------

	// 50%.
	.half {

		@include half;
	} // .half

	// 33%.
	.third {

		@include third;
	} // .third

	// 25%
	.quarter {

		@include quarter;
	} // .quarter

	//-----------------------------------------
	// Sidebar Elements
	//-----------------------------------------

	// Left @ ~66% with ~50px gutter.
	.left-two-thirds {

		@include left-two-thirds;
	} // .left-two-thirds

	// 33%.
	.right-third {

		@include right-third;
	} // .right-third

	// 33%.
	.left-third {

		@include left-third;
	} // .left-third

	// Right @ ~66% with ~50px gutter.
	.right-two-thirds {

		@include right-two-thirds;
	} // .right-two-thirds
} // .site-wrapper, .display-flex

//-----------------------------------------
// Create Content/Sidebar layout
//-----------------------------------------
.has-sidebar,
.appearances-template-default,
.books-template-default,
.post-type-archive-books,
.external_articles-template-default,
.search-results,
.post-type-archive-external_articles,
.category-academic-writing,
.category-popular-writing,
.post-type-archive-appearances,
.blog {
 
	.grid-wrapper {

		@include margin($gutter * 2 auto);

		max-width: $max-width;

		@include media($tablet-portrait) {
			max-width: $max-width-tablet;
		}
		
		@include media($tablet-landscape) {
			max-width: $max-width-desktop;
		}
	} // .grid-wrapper 

	.site-main {
		margin-top: 1.5rem;
		margin-bottom: 2.5rem;
		padding: 0;
		width: 100%;
	} // .site-main

	// Left sidebar.
	&.page-template-template-sidebar-left {

		.grid-wrapper {

			.sidebar {

				@include media(null, $tablet-landscape) {
					order: 2;
				}
			}

			.site-main {

				@include media(null, $tablet-landscape) {
					order: 1;
				}
			}
		}
	}
} // .has-sidebar

.post-type-archive-books {
	.grid-wrapper {
		margin-bottom: 0;
	}
}

.has-sidebar {
	.site-main {
		margin-top: 0;
	}
}