//--------------------------------------------------------------
// COLORS CLASSES
//--------------------------------------------------------------

////
/// @group mixins
/// @author Carrie Forde
////

/// Quickly and easily create color presentational classes.
/// Includes background-color, color, and fill clases.
///
/// @param {map} $colors [$theme-colors] - The theme color map.

@mixin colors($colors: $theme-colors) {
 
	@if type-of($colors) != "map" {

		@error "Sorry, $colors is not a Sass map!";
	}

	@each $name, $color in $colors {
		// Create background color classes.
		.background-#{$name},
		.has-#{$name}-background-color {
			background-color: $color;
		}

		// Create color classes.
		.color-#{$name},
		.has-#{$name}-color {
			color: $color;
		}

		// Adds colors for gutenberg buttons.
		.wp-block-button__link.has-text-color.has-#{$name}-color {
			color: $color;
		}

		// Create fill classes.
		.fill-#{$name} {
			fill: $color;
		}
	}
}
