.archive.post-type-archive-appearances,
.recent-content-block {
    .site-main {
        margin-top: 0;
    }
    
    .appearances {
        padding: 2rem 0 0;
        font-family: $font-serif;
        margin-bottom: .6rem;

        .appearance-date {
            font-family: $font-accent;
            color: $color-orange;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            display: block;
            padding-bottom: .6rem;
            margin-bottom: .6rem;
            border-bottom: 1px solid $color-brown;
        }

        .appearances-title {
            font-size: 1.8rem;
            margin-bottom: 0;
        }

        .appearances-content {
            border-bottom: 1px dotted $color-brown;
            padding-bottom: .6rem;
        }

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
            
            .appearances-content {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }

        &.appearance-recent,
        &.appearance-latest,
        &.appearance-upcoming {
            color: $color-mineshaft;
            
            a.appearances-header,
            a:link.appearances-header,
            a:visited.appearances-header {
                color: $color-mineshaft;
                text-decoration: underline;
    
                &:hover {
                    color: $color-teal;
                }
            }
        } // &.appearance-recent 

        &:last-child {
            margin-bottom: 0;
        }

        &.hentry { 
            width: 100%;
            max-width: unset;
        } // .hentry 
    } // .appearances
} // .archive.post-type-archive-appearances 