.appearances-template-default {
    a.entry-title,
    a:link.entry-title,
    a:visited.entry-title {
        color: $color-mineshaft;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .site-main  {
        font-family: $font-serif;

        .entry-title {
            line-height: 1;
        } // .entry-title 
    } // .site-main 
} // .appearanes-template-default