.blog.hfeed {
    .site-main {
        margin-top: 0;
    }

    .post {
        border-bottom: 1px dotted #3a3139;
        padding-bottom: 1.6rem;
        margin-bottom: 2rem;

        .entry-header {
            .entry-title {
                text-transform: capitalize;
                margin: 0;
                line-height: 1.2;
                font-size: 1.2rem;

                a {
                    color: $color-brown;
                    font-weight: 500;

                    &:visited {
                        color: $color-brown;
                    }

                    &:hover,
                    &:hover:visited {
                        color: $color-teal;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
