.books-template-default {
    .books.hentry {
        width: 100%;
        max-width: unset;
        margin: 0;
        display: flex;
        flex-direction: column;

        @include media($tablet-portrait) {
            flex-direction: row;
        }

        .book-cover {
            width: 100%;
            
            a.book-cover-image {
                margin-bottom: 1rem;
                display: block;
                font-weight: 500;

                &:link,
                &:visited {
                    color: $color-brown;
                }

                &:hover {
                    color: $color-teal;
                }

                .book-cover-placeholder {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $font-serif;

                    &::after {
                        margin-left: .4rem;
                        content: "📘";
                        font-size: 2rem;
                    }
                }
            }

            &.book-cover-placeholder {
                width: 100%;
                min-height: 26rem;
                border: 3px solid $color-brown;
                text-align: center;
                padding-right: 0;
                transition: $transition-all;

                &:hover {
                    border: 3px solid $color-teal;
                    transition: $transition-all;
                }

                a.book-cover-placeholder-text {
                    display: block;
                    margin: auto 0;

                    &:link,
                    &:visited {
                        color: $color-brown;
                    }
                }
            }
        }

        a.book-link {
            display: inline-block;

            &:link,
            &:visited {
                color: $color-teal;
            }

            &:hover,
            &:hover:visited {
                color: $color-orange;
            }
        } // .book-link
    }
} // .books-template-default
