.post-type-archive-books {
    .site-main {
        margin-top: 0;
        
        .books.hentry {
            max-width: 100%;
            margin-bottom: 2rem;
            border-bottom: 1px dotted $color-brown;
            padding-bottom: 1.6rem;
        
            @include media($tablet-portrait) {
                margin-bottom: 2rem;
            }
        } // .books.hentry 

        .books.hentry:last-of-type {
            border-bottom: 0;
        }
    }    
}

.books.hentry:last-child {
    margin-bottom: 0;
}

.books {
    display: flex;
    flex-direction: column;

    @include media($tablet-portrait) {
        flex-direction: row;
    } // $tablet-portrait

    .book-cover {
        width: 100%;
        padding-bottom: 1rem;

        @include media($tablet-portrait) {
            width: 14%;
            padding-right: 1rem;
            padding-bottom: 0;
        } // $tablet-portrait
    } // .book-cover

    .book-meta {
        width: 100%;
        
        .book-release-date {
            font-family: $font-accent;
            color: $color-orange;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
        } // .book-release-date

        .book-header {
            .book-title {
                text-transform: capitalize;
                margin: 0;
                line-height: 1.2;
                font-size: 1.2rem;
            } // .book-title
        } // .book-header

        a.book-header, 
        a:link.book-header,
        a:visited.book-header {
            color: $color-mineshaft;
            text-decoration: none;
        } // a.book-header

        a:hover.book-header {
            color: $color-teal;
            text-decoration: underline;
        } // a:hover.book-header

        .book-excerpt {
            display: block;
            line-height: 1.3;
            margin: .2rem 0;

            @include media($tablet-portrait) {
                line-height: inherit;
            } // $tablet-portrait

            .book-read-more {
                font-family: $font-serif;
                font-style: italic;
            } // .book-read-more
        } // .book-excerpt

        .book-link {
            display: block;
        }

        a.book-link,
        a.book-read-more {
            &:link,
            &:visited {
                color: $color-teal;
            }

            &:hover,
            &:hover:visited {
                color: $color-orange;
            }
        } // .book-link
    } // .book-meta

    .book-cover + .book-meta {
        width: 100%;
    }
} // .books
