.post-type-archive-external_articles,
.external_articles-template-default,
.recent-content-block,
.category-academic-writing,
.category-popular-writing {

    .external-articles-archive {
        width: 100%;
    }

    .site-main {
        margin-top: 0;
    }

    .external-article {
        margin-bottom: 2rem;
        padding-bottom: 1.6rem;
        width: 100%;
        display: block;
        border-bottom: 1px dotted $color-brown;

        &:last-of-type {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }

    .external-article-link {
        color: $color-brown;

        .external-article-title {
            text-transform: capitalize;
            margin: 0;
            line-height: 1.2;
            font-size: 1.2rem;
        }

        &:hover,
        &:visited:hover {
            text-decoration: underline;
            color: $color-teal;
        }

        &:visited {
            color: $color-brown;
        }
    } // h2 .external-article-link

    .external-article-author + .external-article-link:link {
        color: $color-teal;

        &:hover,
        &:visited:hover {
            text-decoration: underline;
            color: $color-orange;
        }

        &:visited {
            color: $color-teal;
        }
    }

    .external-article-meta {
        font-family: $font-serif;
    } // p

    .hentry {
        max-width: unset;
    }
} // .post-type-archive-external_articles