//--------------------------------------------------------------
// Homepage
//--------------------------------------------------------------

.home {
    .breadcrumbs {
        display: none;
    }

    .site-main {
        margin-top: 3.8rem;
        margin-bottom: 0;

        @include media($tablet-landscape) {
            margin-top: 6.8rem;
        }

        @include media($desktop) {
            margin-top: 5.6rem;
        }

        .hentry {
            max-width: 100%;
            margin: 0;

            @include media($tablet-portrait) {
                max-width: 100%;
                margin: 0;
            }
        }
    }
}