.page-template-default,
.page-template-template-sidebar-left,
.page-template-template-sidebar-right,
.appearances-template-default,
.books-template-default,
.external_articles-template-default,
.post-type-archive-external_articles,
.category-academic-writing,
.category-popular-writing,
.post-type-archive-appearances,
.post-type-archive-books,
.blog,
.search-results { 
    .entry-header.content-header {
        border-bottom: 1px solid $color-mineshaft;
        margin-bottom: 2rem;
        display: block;
        width: 100%;

        .entry-title {
            text-transform: uppercase; 
            text-align: left;
            font-size: 1.2rem;
            font-family: $font-accent;
            letter-spacing: 1px;
            font-weight: 600;
            margin: 0; 
        } // .entry-title 
    } // .entry-header 

    .entry-content {} // .entry-content
} // .page-template-default

.page-template-template-sidebar-left,
.page-template-template-sidebar-right,
.appearances-template-default {
    .site-main {
        display: flex; 
        width: 100%;

        @include media($tablet-portrait) {
            width: 66%;
        }

        .hentry {
            width: 100%;
        }
    }

    .sidebar {
        margin: 0; 
        width: 100%;

        @include media($tablet-portrait) {
            width: 33%;
        }
    }
    
    .sidebar-menu {
        .menu {
            .menu-item {
                font-family: $font-accent;
                text-transform: uppercase; 
                padding: .4rem;
                font-size: .9rem;
                display: inline-block;
                font-weight: 500;

                &:hover,
                &:active {
                    background: $color-light-mint;
                    color: $color-teal;
                }
            }

            p {
                margin: 0;
                display: block;
            } 
        }
    }
}
