.search-results {
    .site-main {
        margin-top: 2.5rem;
        
        .container {
            margin-top: 0;
            margin-bottom: 0;
        }

        .entry-title {
            // color: $color-dove-gray;
            
            span {
                color: $color-teal;
                font-weight: 600;
            }
        } // .page-title

        .search-result.entry-header.content-header {
            border-bottom: 0;
            margin-bottom: 0;
        }

        .hentry {
            width: 100%;
            max-width: unset;
            display: flex;
            flex-direction: column;
            margin: 0 auto 3rem;
            padding-bottom: 2rem;
            border-bottom: 1px dotted $color-brown;

            .entry-header {
                .entry-title {
                    text-transform: capitalize;
                    margin: 0;
                    line-height: 1.2;
                    font-size: 1.2rem;
                    font-family: georgia, times, Times New Roman, serif;

                    a {
                        font-weight: 500;
                        color: $color-brown;

                        &:hover,
                        &:hover:visited {
                            color: $color-teal;
                            text-decoration: underline;
                        }

                        &:visited {
                            color: $color-brown;
                        }
                    }
                }
            }

            &:before {
                color: $color-orange;
                font-family: News Cycle,sans-serif,Arial MT Condensed;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
            }

            &.type-books {
                &:before {
                    content: 'book 📘';
                }
            }

            &.type-page {
                &:before {
                    content: 'page 📄';
                }
            }

            &.type-appearances {
                &:before {
                    content: 'appearance 📅';
                }
            }

            &.type-external_articles {
                &:before {
                    content: 'external article 🔗';
                }
            }

            &.type-post {
                &:before {
                    content: 'blog post ✍️';
                }
            }
        } // .hentry

        .grid-wrapper {
            article.hentry:last-of-type {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    } // .site-main
} // .search-results
