//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------
a:not(.button), 
a:not(.wp-block-button__link), 
a:not(.menu-item-link),
a:not(.menu-item),
a:not(.posted-on-link) { /* stylelint-disable-line selector-class-pattern */
	color: $color-link;
	transition: $transition-all;
	font-weight: 600;
	text-decoration: none;

	&:visited {
		color: $color-link-visited;
	} // &:visited 

	&:hover,
	&:hover:visited,
	&:active,
	&:active:visited {
		color: $color-orange;
		transition: $transition-all;
	} // &:hover, &:active

	&:focus {
		color: $color-link-focus;
	} //  &:focus
} // a


a,
a:link {
	transition: $transition-all;
	color: $color-teal;

	&:hover:not(.menu-item),
	&:hover:visited:not(.menu-item) {
		transition: $transition-all;
		color: $color-orange;
	}
}