//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------
body,
button,
input,
select,
textarea {
	/* stylelint-disable property-no-vendor-prefix */
	color: $color-text-main;
	font-family: $font-sans;
	-moz-font-feature-settings: "liga", "kern"; // Control over advanced typographic features in OpenType fonts.
	font-feature-settings: "liga", "kern"; // Control over advanced typographic features in OpenType fonts.
	-moz-osx-font-smoothing: grayscale; // Control the application of anti-aliasing when fonts are rendered in OS X.
	-webkit-font-smoothing: antialiased; // Control the application of anti-aliasing when fonts are rendered.
	line-height: $line-height-body;
	text-rendering: optimizeLegibility; // Improved kerning pairs & ligatures
	/* stylelint-enable */
} // body, button, input, select, textarea

//-----------------------------------------
// Headers
//-----------------------------------------

// Global Header Resets.
@for $i from 1 through 6 {
	h#{$i},
	.h#{$i} {
		font-family: $font-serif;
		font-weight: 500;
		margin-top: 0;
	} // h#{$i}, .h#{$i}
} // end @for

h1,
.h1,
.has-large-font-size {
	font-size: rem(32); // HTML5 Default.
} // h1, .h1

h2,
.h2 {
	font-size: rem(24); // HTML5 Default.
} // h2, .h2

h3,
.h3 {
	font-size: rem(18.72); // HTML5 Default.
} // h3, .h3

h4,
.h4 {
	font-size: rem(18); // HTML5 Default.
} // h4, .h4

h5,
.h5 {

	@extend h4; // Typically h5 isn't used, default to h4.

	font-style: italic;
}  // h5, .h5

h6,
.h6 {

	@extend h4; // Typically h6 isn't used, default to h4.

	font-style: italic;
} // h6, .h6

.accent  {
	font-family: $font-accent;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	border-bottom: 1px solid $color-brown;
	font-size: 1.2rem;
}

.external-article-date {
	color: $color-orange;
	font-family: $font-accent;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px; 
}

.serif {
	font-family: $font-serif;
	font-style: italic;
}

//-----------------------------------------
// Copy
//-----------------------------------------
p {

	@include margin(0 0 $space);

	// Remove margin from last paragraph in element.
	&:last-child {

		@include margin(0);
	} // &:last-child
} // p

.is-style-large, blockquote.is-style-large {
	font-size: 1.4rem;
	line-height: 1.4;
	margin: 0;
}

.has-small-font-size {
	font-size: rem(12);
}

.has-huge-font-size {
	font-size: rem(50);
}

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
cite,
em,
i {
	font-style: italic;
} // dfn, cite, em, i

blockquote,
q {

	@extend h3;
	@include margin(0 $space $space);

	font-style: italic;
	font-family: $font-serif;
	quotes: '" "';

	&::before,
	&::after {
		content: "";
	}  // &::before, &::after
} // blockquote, q

blockquote {
	font-style: italic;
	margin-left: 0;
	font-size: 1.6rem;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

address {

	@include margin(0 0 $space);
} // address

pre {

	@include margin(0 0 $space rem(-24));
	@include padding($space);

	background-color: $color-background-pre;
	border: 1px solid $color-border-pre;
	color: $color-text-pre;
	font-family: $font-pre;
	font-size: rem(13);
	line-height: $line-height-pre;
	overflow: auto;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
} // pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
} // code, kbd, tt, var

kbd {
	background-color: $color-whitesmoke;
	border: 1px solid $color-silver;
	border-radius: rem(4);
	box-shadow: 0 rem(1) 0 rgba($color-black, 0.2), 0 0 0 rem(2) $color-white inset;
	display: inline-block;
	margin: 0 rem(3);
	padding: rem(2) rem(8);
}

code {
	background-color: $color-gallery;
	color: $color-tundora;
	padding: rem(2) rem(4);
}

abbr {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
} // abbr

mark,
ins {
	text-decoration: none;
} // mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	word-break: keep-all;
	word-wrap: break-word;
} // .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget
