.wp-block-file { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .wp-block-file__button {
        margin: 0.6rem 0 0 0;
        padding: 0;
        border-radius: 0;
        background: transparent;
        color: $color-teal;
        font-family: $font-serif;
        font-style: italic;
        font-size: 1rem;
        font-weight: 600;

        &::before {
            content: "\2193";
            font-style: normal;
            color: $color-mineshaft;
            font-weight: 900;
            font-family: $font-pre;
            font-size: 1.5rem;
            border: 1px solid $color-mineshaft;
            height: 1.5rem;
            width: 1.5rem;
            display: inline-block;
            line-height: 0.8;
            text-align: center;
            margin-right: .6rem;
        }

        &:hover {
            color: $color-teal;
        }
    }

    a {
        text-decoration: none;
        color: $color-mineshaft;
        font-family: $font-serif;
        font-style: italic;
        font-weight: 600;
    }
}