.pagination-container {
    
} // .pagination-container

//-----------------------------------------
// Numbered Pagination
//-----------------------------------------
.pagination-container {
	margin-top: 2rem;
	font-size: 1.2rem;
    width: 100%;
    border-top: 1px solid $color-brown;
    border-bottom: 1px solid $color-brown;

    a.page-numbers {
        color: $color-brown;
        font-weight: 400;

        &.current {
            font-weight: 800;
        }
    }

    .pagination-arrow {
        height: 0;
        width: 0;
        display: inline-block;
        margin-bottom: 3px;

        &-previous {
            border-left: 10px solid $color-brown;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-right: 4px solid transparent;
        }

        &-next {
            border-right: 10px solid $color-brown;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    } // .pagination-arrow

	.page-numbers {
		&,
		&:not(.current),
		&:not(.next) {
			margin: 0 .4rem;
		}
		
		&.current {
			font-weight: 700;
		} // &.current
	} // .page-numbers
} // .pagination-container
