.breadcrumbs {
    display: block;
    width: 100%;
    margin-top: 3.8rem;
    background-color: $color-mint;
    text-transform: uppercase;
    font-family: $font-accent;
    padding: 1rem 0;
    font-size: 0.8rem;
    letter-spacing: 1px;

    @include media($tablet-portrait) {
        margin-top: 5.8rem;
    }
    
    @include media($tablet-landscape) {
        margin-top: 7.2rem;
    }

    @include media($desktop) {
        margin-top: 5.6rem;
    }

    a,
    a:link,
    a:visited {
        transition: $transition-all;
        color: $color-brown;
        text-decoration: none;

        &:hover,
        &:active {
            transition: $transition-all;
            text-decoration: underline;
            color: $color-teal;
        }
    } // link styles 
} // .breadcrumbs 


