//--------------------------------------------------------------
// Global and Shared Navigation Styles.
//--------------------------------------------------------------

//-----------------------------------------
// Caret down.
//-----------------------------------------
.caret-down {
	@include size(rem(10), rem(20));

	display: inline-block;
	margin-left: rem(5);
	margin-bottom: .2rem;
	width: 0; 
	height: 0; 
	border-left: 0.4rem solid transparent;
	border-right: 0.4rem solid transparent;
	border-top: 0.4rem solid $color-teal;
} // .angle-down


//-----------------------------------------
// Default menu (active after a fresh WordPress install).
//-----------------------------------------
.menu {
	@include list-reset;
	font-family: $font-accent;

	ul {
		@include list-reset;

		// Dropdowns.
		&.sub-menu {
			background: $color-background-submenu;

			li {
				@include margin(0);
			} // li
		} // &.sub-menu
	} // ul

	// For list items with menu items.
	.menu-item-has-children {

		.menu-item-has-children {

			// Rotate to the right to point toward the direction of the dropdown.
			.caret-down {
				transform: rotate(-90deg) translateX(rem(2));
			} // .caret-down
		} // .menu-item-has-children
	} // .menu-item-has-children

	.menu-item {
		// Menu hyperlinks
		a,
		a:link, 
		a:hover,
		a:visited,
		a:active {
			color: $color-teal;
			font-weight: 500;
			display: block;
			text-decoration: none;
			text-transform: uppercase;
		} // link text
	}

	// Current items
	/* stylelint-disable selector-class-pattern */
	.current_page_item a,
	.current-menu-item a {
		color: $color-teal;
	} // .current_page_item a, .current-menu-item a
	/* stylelint-enable */
} // .menu
