//--------------------------------------------------------------
// Main Navigation — Desktop.
//--------------------------------------------------------------


.main-navigation {
	display: none;
	text-transform: uppercase;

	@include media($desktop) {
		display: inline-block;
		width: 70%;
		margin: 0;
	}
	
	#primary-menu {
		text-align: right;
	}

	// Menu area
	ul {
		display: none;
		margin-right: .8rem;

		@include media($phone) {
			@include margin(null auto);
			@include padding(null $gutter);

			display: block;
			max-width: $max-width;
			list-style-type: none;
		}

		@include media($container-offset) {
			@include padding(null 0);
		}

		@include media($tablet-portrait) {
			max-width: unset;
		}

		> .menu-item {
			padding: .4rem;
			font-size: .9rem;
			transition: $transition-all;

			&:hover,
			&:hover:visited,
			&:active {
				background: $color-light-mint;
				transition: $transition-all;
			}
		}

		li {
			@include margin(0 rem(10) 0 0);

			display: inline-block;
		} // li
	} // ul

	&.toggled ul {
		display: block;
	} // &.toggled ul
} // .main-navigation

//-----------------------------------------
// Dropdown.
//-----------------------------------------
.dropdown {
	position: relative;
	margin-right: .8rem;

	// Sub-menu
	ul {
		position: absolute;
		top: 2.2rem;
		left: -999em;
		box-shadow: 0px 3px 7px 0px rgba(0,0,0,.1);
		z-index: 99999;
		text-align: left;

		// Sub-sub menu
		ul {
			left: -999em;
			top: 0;
		} // ul

		// Sub-menu items
		li {
			width: 100%;

			&:hover > ul,
			&.focus > ul {
				left: 100%;
			} // &:hover > ul, &.focus > ul
		} // li

		// Sub-menu links
		a {
			@include size(100%, auto);

			min-width: rem(200);
		} // a
	} // ul

	// Display sub-menu on hover
	li:hover > ul,
	.focus > ul {
		left: 0;  
	} // li:hover > ul, .focus > ul

	// Menu items
	li {
		position: relative;
	} // li
} // &.dropdown
