//--------------------------------------------------------------
// Mobile Navigation.
//
// 1. Mobile Navigation Styles.
// 2. Parent Indicator.
// 3. Menu Item Has Children.
// 4. Hamburger Button.
// 5. Off Canvas Drawer.
//
//--------------------------------------------------------------
// 
#wpadminbar {
    position: fixed;
}
//-----------------------------------------
// 1. Mobile Navigation Styles.
//-----------------------------------------
.mobile-menu {
	@include list-reset;

	ul {
		@include list-reset;
	} // ul

	li {
		@include padding(rem(12));

		margin-top: .4rem;
		list-style: none;
		position: relative;
	} // li

	a {
		color: $color-mobile-menu-link;
		font-size: rem(14);

		&:focus {
			outline: 2px solid $color-mobile-menu-link;
		} // &:focus
	} // a

	// Submenu dropdowns.
	.sub-menu {
		display: none;

		// If submenu is open.
		&.is-visible {
			display: block;
			opacity: 1;
			visibility: visible;
			margin-top: 1rem;
			// background-color: transparent;

			.menu-item {
				padding: .6rem 0 .6rem .6rem;
			}
		} // &.is-visible
	} // .sub-menu
} // .mobile-menu

//-----------------------------------------
// 2. Create a down arrow on parent items.
//-----------------------------------------
.parent-indicator {
	@include padding(0 rem(5));
	@include position(absolute, rem(10) rem(10) null null);
	@include size(rem(35), rem(25));

	background-color: transparent;
	display: inline-block;
	z-index: 9999;

	&:focus {
		outline: 2px solid $color-mobile-menu-link;
	} // &:focus
} // .parent-indicator

//-----------------------------------------
// 3. Menu Item Has Children.
//-----------------------------------------
.mobile-menu {
	// Parent menu items.
	.menu-item-has-children {
		transition: max-height 0.5s;

		// Force menu link to accomodate down button.
		a {
			display: inline-block;
			max-width: calc(100% - 40px);
		} // a

		&.is-visible {
			max-height: rem(500);

			// When visible, flip the down arrow.
			.down-arrow {
				transform: rotateX(180deg);
			} // .down-arrow
		} // .is-visible

		.menu-item-has-children {
			&:last-of-type {
				.menu-item-has-children.is-visible {
					margin-bottom: 0;
				}
			} // &:last-of-type

			.down-arrow {
				transform: rotateX(0);
			} // .down-arrow

			&.is-visible {
				&:last-of-type {
					margin-bottom: 0;
				} // &:last-of-type

				// When visible, flip the down arrow.
				.down-arrow {
					transform: rotateX(180deg);
				} // .down-arrow
			} // &.is-visible

			/* stylelint-disable max-nesting-depth */
			.menu-item-has-children {
				.down-arrow {
					transform: rotateX(0);
				} // .down-arrow

				&.is-visible {
					// When visible, flip the down arrow.
					.down-arrow {
						transform: rotateX(180deg);
					} // .down-arrow
				} // &.is-visible
			} // .menu-item-has-children
		} // .menu-item-has-children
	} // .menu-item-has-children
} // .mobile-menu

//-----------------------------------------
// 4. Hamburger Button.
//-----------------------------------------
.hamburger {
	@include position(absolute, 50% null null 0);

	background-color: transparent;
	outline: none;
	transform: translateY(-50%);

	&,
	&::before,
	&::after {
		@include position(absolute, null null null 0);
		@include size(rem(35), rem(5));

		background: $color-background-hamburger;
		border-radius: $border-radius-thin;
		content: "";
		cursor: pointer;
		display: block;
		transform-origin: center center;
		transition: $transition-hamburger;
	}

	&::before {
		transform: translateY(-200%);
	}

	&::after {
		transform: translateY(200%);
	}

	.is-visible & {
		background-color: transparent;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	} // .is-visible
} // .hamburger

//-----------------------------------------
// 5. Off Canvas Drawer.
//-----------------------------------------
.off-canvas {
	// The container.
	&-container {

		@include position(fixed, 0 auto 0 0);
		@include size(100%, 100%);

		background-color: $color-background-off-canvas;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		transform: translateX(-100%);
		transition: $transition-transform;
		z-index: 100000;

		&.is-visible {
			transform: translateX(0);
		}

		// Deal with the admin bar.
		.admin-bar & {
			padding-top: rem(46);

			@include media($wp-admin-bar) {
				padding-top: rem(32);
			}
		} // .admin-bar &
	} // .off-canvas-container

	// The hamburger nav.
	&-open {
		padding: 0;
		position: absolute;
		top: 0rem;
		right: 0.6rem;
		height: 2.1875rem;
		width: 2.1875rem;
		background-color: transparent; 
		display: block;

		@include media($tablet-portrait) {
			top: 0.8rem;
		}

		@include media($desktop-small) {
			top: 1.6rem;
		}

		@include media($desktop) {
			display: none;
		}

		&:focus,
		&:hover {
			background-color: transparent;
			outline: 2px solid $color-mobile-menu-link;
		} // &:focus, &:hover
	} // .off-canvas-button

	// The close "X" button.
	&-close {
		@include padding(rem(12) rem(5));
		@include position(absolute, rem(10) rem(10) null null);
		@include size(rem(35));

		background-color: transparent;
		display: none;
		z-index: 9999;

		&:focus,
		&:hover {
			background: transparent;
			outline: 2px solid $color-mobile-menu-link;
		} // &:focus, &:hover

		.admin-bar & {
			top: rem(60);

			@include media($wp-admin-bar) {
				top: rem(46);
			}
		} // .admin-bar &

		.is-visible & {
			display: inline-block;

		} // .is-visible &
	} // .off-canvas-close

	// The background screen.
	&-screen {
		@include position(fixed, 0);

		background: $color-background-off-canvas-screen;
		opacity: 0;
		transition: $transition-opacity;
		visibility: hidden;
		z-index: 9996;

		&.is-visible {
			opacity: 0.4;
			visibility: visible;
		}
	} // .off-canvas-screen

	// Content container.
	&-content {
		display: none;

		.is-visible & {
			@include margin($gutter * 4 null null);

			display: block;
		}

		.mobile-menu {
			.menu-item {
				transition: $transition-all;

				&:hover,
				&:hover:visited {
					transition: $transition-all;
				}

				.menu-item-link {
					font-weight: 600;
					font-size: 1.2rem;
				}
			}
		}
	} // .off-canvas-content
} // .off-canvas
