//--------------------------------------------------------------
// Navigation on Comment, Post and Posts.
//--------------------------------------------------------------
.comment-navigation,
.posts-navigation,
.post-navigation {

	@include margin(null auto);
	@include padding(null $gutter);

	max-width: $max-width;

	@include media($container-offset) {

		@include padding(0);
	}

	.nav-links {

		@include margin($space null null);

		display: flex;
		flex: 0 0 100%;
		flex-flow: row wrap;
		width: 100%; // For IE11.
	} // .nav-links

	.site-main & {

		@include margin(0 0 $space);

		overflow: hidden;
	} // .site-main &

	.nav-previous {

		@include size(50%, auto);

		margin-right: auto;
	} // &.nav-previous

	.nav-next {

		@include size(50%, auto);

		margin-left: auto;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation

.right-third,
.third {
	display: flex;
	flex-direction: column;

	&::last-child {
		flex-grow: 2;
	}
}

.view-all {
	margin-bottom: 1rem;
	border-bottom: 1px solid $color-brown; 
	border-top: 1px solid $color-brown; 
	display: block;
	text-transform: uppercase;
	margin-top: auto;
	font-size: .8rem;
	padding: .4rem 0;

	a.view-all-link {
		color: $color-brown;
		font-weight: 400;
		transition: $transition-color;

		&:hover,
		&:hover:visited {
			transition: $transition-color;
			color: $color-teal;

			&::after {
				border-left: 6px solid $color-teal;
			}
		}

		&::after {
			display: inline-block;
			content: '';
			margin-bottom: 1px;
			margin-left: .6rem;
			border-left: 6px solid $color-brown;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-right: 4px solid transparent;
		}
	} // a.view-more-link
} // .view-all